$TABLET: 750px;
$DESKTOP: 1100px;
body {
    background-color: #222 !important;
    height: auto;

    div.content_wrapper {
        height: 100%;
        margin:auto auto;

        .LoadingWrapper {
            text-align:center;
            color: #fff;
            font-size: 1.25rem;
        }

        div.filter_panel {
            margin: 1em;
            padding: 1em;
            background-color: #444;
            border: 1px solid #000;
                div.column {
                    width: 100%;
                    padding: 0 0.5em 0 0;
                    display: inline-block;
                    min-height: 152px;
                    vertical-align: middle;
                    margin: 0 0 1em 0;
                    &:first-child {
                        min-height: 120px;
                        margin: 0;
                        @media (min-width: $TABLET) {
                            width: 100%;
                        }
                        @media (min-width: $DESKTOP) {
                            width: 32%;
                        }
    
                    }

                    @media (min-width: $TABLET) {
                        width: 48%;
                    }
                    @media (min-width: $DESKTOP) {
                        width: 32%;
                    }

                    h3 {
                        color: #fff;
                        margin: 0 0 0 0.5em;
                        padding: 0 0 0.3em 0;
                        font-size: 1.25rem;
                        font-weight: 400;
                        border-bottom: 1px solid #aaa;
                    }
                    h5.locationBadge {
                        margin: 0;
                        padding: 0.8em;
                        color: #fff;
                        font-weight: 400;
                    }
                    p.note {
                        margin: 0;
                        color: red;
                        padding: 0 0.8em;
                        font-size: 0.8rem;
                    }
                    .FilterContainer {
                        margin: 1em 0 0 0.5em;
                        max-height: 109px;
                        overflow: auto;

                        label {
                            color: #fff;
                            display: inline-block;
                        }
                    }
                    input[type='text'] {
                        width: 92%;
                        padding: 0.8em;
                        margin: 1em 0 1.5em 0;
                        border: none;
                        border-bottom: 1px solid #000;
                        background-color: transparent;
                        color: #fff;

                        &:focus,&:active {
                            outline: none;
                            border: none;
                            border-bottom: 1px solid #000;
                        }
                    }
                    input[type='text']:first-child {
                        margin: 0;
                    }
                }
        }
        .restaurantsResultsContainer {
            margin: 0 0 1em 1em;

            .restaurantLoading {
                color: #fff;
                font-size: 1.2rem;
                text-align: center;
            }

            .restaurantContainer {
                display: inline-block;
                background: #333;
                padding: 1em;
                margin: 0rem 1rem 1rem 0;
                min-width: 85%;
                border: 1px solid #000;
                min-height: 560px;
                vertical-align: top;
                text-align: center;

                .rating {
                    font-size: 1rem;
                    color: #fff;
                }
                @media (min-width: $TABLET) {
                    max-width: 43%;
                    min-width: 43%;
                }
                @media (min-width: $DESKTOP) {
                    max-width: 216px;
                    min-width: unset;
                }
                &:last-child {
                    margin-right:0;
                }

                img {
                    background-color: #fff;
                    width: 100%;
                    min-height: 216px;
                    min-width: 216px;
                }

                a {
                    text-decoration: none;
                    h3 {
                        color: #fff;
                        font-weight: 400;
                        font-size: 2rem;
                        min-height: 42px;

                        @media (min-width: $TABLET) {
                            font-size: 2rem;
                            min-height: 100px;
                            vertical-align: middle;
                        }
                        @media (min-width: $DESKTOP) {
                            font-size: 1rem;
                            min-height: 60px;
                        }
                    }

                    &:hover {
                        text-decoration: underline #fff;
                    }
                }

                
                .cuisinesWrapper {
                    font-size: 0.8rem;
                    color: #fff;
                    margin: 0 0 1.2em 0;
                    vertical-align: top;
                    min-height: 55px;

                    .cuisine {
                        display: inline-block;
                        border: 1px solid #aaa;
                        border-radius: 20px;
                        padding: 10px;
                        margin: 4px;

                        @media (min-width: $DESKTOP) {
                            border-radius: 15px;
                            padding: 5px;
                            margin: 2px;
                        }
                    }
                    @media (min-width: $DESKTOP) {
                        font-size: 0.6rem;
                    }
                }
                .restaurantAddress {
                    word-wrap: break-word; 
                    font-size: 1.2rem;
                    color: #aaa;  
                    margin:0 0 1em 0; 
                    min-height: 70px;
                    vertical-align: middle;
                    @media (min-width: $TABLET) {
                        min-height: 104px;
                    }
                    @media (min-width: $DESKTOP) {
                        font-size: 0.8rem;
                        min-height: 70px;
                    }
                }
                .restaurantTiming {
                    font-size: 0.8rem;
                    color: #fff;
                }
                .actionBtn {
                    padding: 0.5rem;
                    background: transparent;
                    border: 1px solid #aaa;
                    //border-radius: 20px;
                    color: #fff;
                    margin: 0.5em 0;
                    cursor: pointer;
                    text-decoration: none;
                    display: block;
                    &.primary {
                        background-color: #eee;
                        color: #000;
                        margin: 0;

                        &:hover {
                            background-color: transparent;
                            color: #fff;
                        }
                    }
                    &.notAvailableBtn {
                        display: block;
                        color: #ccc;
                        cursor: not-allowed;

                        &:hover {
                            background-color: transparent;
                            color: #ccc;
                        }
                    }

                        &:hover {
                            background-color: #fff;
                            color: #000;
                            text-decoration: none;
                        }
                }
            }
        }
        
    }
}