footer {
    bottom: 0px;
    width: 100%;
    background: #333;
    color: #fff;
    border-top: 1px solid black;
    min-height: 3em;
    padding: 0 0 0 0;

    a {
        color: #BB86FC;
    }
    p {
        text-align: center;
    }
}