header {
    background: #333;
    color: #fff;
    border-bottom: 1px solid black;
    min-height: 3em;
    padding: 12px 0 0 0;
    
    *, *:hover {
        color: #fff !important;
    }

    .brand {
        font-size: 24px;
        padding: 0 0 0 1em;
        vertical-align: middle;
        text-decoration: none;

        &:hover {
            text-decoration: none;
        }
    }

    ul {
        float: right;
        list-style-type: none;
        display: inline;
        margin: 10px 1em 0 0;
        li {
            display: inline;
            padding: 0 0 0 1em;
        }
    }
}